* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    margin: 10px 0px;
}
.top {
    display: flex;
    justify-content: space-around;
}
.snowman-image {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    /* background-color: azure;
    border: inset whitesmoke;
    border-style: groove; */
}
.hat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stovepipe {
    background-color: black;
    width: 45px;
    height: 50px;
    margin-top: 20px;
}
.brim {
    border: 2px solid black;
    width: 85px;
    height: 2px;
}
.head, .mid-section, .bottom {
    border: 2px solid black;
    border-radius: 50%;
    margin-top: -3px;
}
.head {
    width: 75px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eyes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;    
}
.eye, .button {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
} 
.nose {
    width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 30px solid orange;
	border-bottom: 2px solid transparent;
    margin-left: 40%;
}
.smile {
    border-bottom: 5px dotted black;
    border-radius: 90%;
    width: 40px;
    height: 10px;
}
.mid-section {
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}
.arm {
    border: 1px solid black;
    width: 70px;
    position: absolute;
}
#right-arm {
    top: 20px;
    left: -68px;
    transform: rotate(20deg);
}
#left-arm {
    top: 20px;
    left: 94px;
    transform: rotate(340deg);
}
.button {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.bottom {
    width: 150px;
    height: 120px;
}

.top-right {
    margin-top: 20px;
    width: 30%;
}
.rules > h3 {
    margin: 20px 0px;
}
.rules > ul {
    margin-left: 20px;
}