* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    margin: 20px 0px;
}
.top {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.snowman-image {
    box-shadow: 5px 5px 10px 5px grey, -5px -5px 10px 5px grey;
    box-shadow: inset 5px 5px 5px 5px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    /* background-color: white; */
    background-image:url(./images/snowfall_gradientbkg.gif);
    background-size: cover;
    margin: 10px;
}
.hat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-bottom: 3px;
}
.stovepipe {
    background-color: black;
    width: 45px;
    height: 50px;
    margin-top: 40px;
}
.brim {
    border: 2px solid black;
    width: 85px;
    height: 2px;
}
.head, .mid-section, .bottom {
    /* border: 3px solid white; */
    border-radius: 55%;
    background-color: whitesmoke;
    margin: -3px;
}
.head {
    width: 75px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eyes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;    
}
.eye, .button {
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
} 
.nose {
    width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 30px solid orange;
	border-bottom: 2px solid transparent;
    margin-left: 40%;
}
.smile {
    border-bottom: 5px dotted black;
    border-radius: 90%;
    width: 40px;
    height: 10px;
}
.mid-section {
    width: 100px;
    height: 80px;
    position: relative;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
}
.arm {
    border: 3px solid saddlebrown;
    width: 70px;
    position: absolute;
}
#right-arm {
    top: 20px;
    left: -68px;
    transform: rotate(20deg);
}
.rfinger1 {
    border: 2px solid saddlebrown;
    width: 20px;
    top: 7px;
    left: -60px;
    transform: rotate(80deg);
    position: absolute;
}
.rfinger2 {
    border: 2px solid saddlebrown;
    width: 20px;
    top: 25px;
    left: -55px;
    transform: rotate(140deg);
    position: absolute;
}
#left-arm {
    top: 20px;
    left: 98px;
    transform: rotate(340deg);
}
.lfinger1 {
    border: 2px solid saddlebrown;
    width: 20px;
    top: 10px;
    left: 120px;
    transform: rotate(90deg);
    position: absolute;
}
.lfinger2 {
    border: 2px solid saddlebrown;
    width: 20px;
    top: 23px;
    left: 135px;
    transform: rotate(25deg);
    position: absolute;
}
.button {
    background-color: black;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
.bottom {
    width: 150px;
    height: 110px;
}
.slow-dissolve {
    animation-name: slowDissolve;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes slowDissolve {
    from {opacity: 1;}
    to {opacity: 0;}
}
.top-right {
    width: 30%;
}
.rules > h3 {
    margin: 10px 0px 5px;
}
.rules > ul {
    margin: 0px 0px 10px 20px;
    font-size: 12px;
}
.bold {
    font-weight: bold;
}
#guess-section {
    margin-top: 30px;
    padding: 8px;
    box-shadow: 5px 5px 10px 5px whitesmoke, -5px -5px 10px 5px whitesmoke;
    height: 120px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    visibility: hidden;
}
#guessed-letters {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.guessesRemaining {
    margin-top: 20px;
    display: none;
    font-size: 12px;
}
#gameOverMessage, #gameOver {
    color: orange;
    font-size: 20px;
}
#gameOver {
    text-align: center;
}
#gameOverMessage {
    margin-top: 10px;
    font-size: 12px;
}
.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
button {
    background-color: orange;
    color: white;
    height: 50px;
    width: auto;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
}
#wordGame {
    display: none;
}
#guessForm {
    display: flex;
    align-items: center;
    gap: 40px;
}
#letter {
    border: 3px solid orange;
    border-radius: 25px;
    height: 50px;
    width: 120px;
    text-align: center;
    font-size: 16px;
}
#guessButton {
    background-color: black;
    border-radius: 5px;
}
#hint {
    font-size: 12px;
    color: grey;
    border: 2px solid grey;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    visibility: hidden;
}
.hint-text {
    visibility: hidden;
    font-size: 12px;
    color: grey;
    font-style: italic;
}
#word {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}
.word-to-guess {
    border-bottom: 2px solid black;
    width: 50px;
    margin: 70px 0px;
    font-size: 20pt;
    text-align: center;
}
